.intro__btn {
  background: linear-gradient(170deg, $colour-secondary, $colour-primary);
  padding: 1.25rem;
  border-radius: 2rem;
  color: white;
}

.commandBtn {
  border: 0;
  padding: .75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: #fff;
  background-color: #686868;
  background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
}