.intro__btn, .commandBtn {
  border: 0;
  padding: .75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: #fff;
  background-color: #686868;
  background-image: linear-gradient(0deg,$colour-primary,$colour-secondary);
  box-shadow: 0px 5px 5px darken($colour-background,20);
  transform: all;
  transition-duration: 400ms;
  cursor: pointer;
  &:hover {
    background-image: linear-gradient(0deg,lighten($colour-primary,5),lighten($colour-secondary,5));
    box-shadow: 0px 5px 5px darken($colour-background,40);
  }
}

.card__btn {
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
  height: 2rem;
  width: 2rem;

  &:hover {
    .menu__like--bg {
      opacity: 1;
    }
  }
}

.menu__like {
  position: absolute;
  top: 0;
  right: 0;
  transition-duration: .25s;
 /* mix-blend-mode: lighten;
  background-color: white;*/

  &--bg  {
    opacity: 0;
    color: linear-gradient(0deg,$colour-primary,$colour-secondary);
  }
}