/*  ___       _             
  |_ _|_ __ | |_ _ __ ___  
   | || '_ \| __| '__/ _ \ 
   | || | | | |_| | | (_) |
  |___|_| |_|\__|_|  \___/ 
*/

.intro {
  background-color: #f6f6f6;
  padding: 2rem;
  text-align: center;
  
  &__title {
    font-family: roboto;
  }
  
  &__subtitle {
    margin-top: 1rem;
    font-style: normal;
  }
  
  &__container {
    margin: 3rem auto;
  }
}

/* _     ___   ____    _    _     
  | |   / _ \ / ___|  / \  | |    
  | |  | | | | |     / _ \ | |    
  | |__| |_| | |___ / ___ \| |___ 
  |_____\___/ \____/_/   \_\_____|
*/

.local {
  display: flex;
  justify-content: center;
  background-color: $colour-background;
  padding: 1rem 0;

  &__text {
      margin-left: 1.25rem;
      font-weight: bold;
  }

  &__icon {
      margin-left: -1.5rem;
      margin-top: 2px;
  }
}

/* ____  _____ ____ _____  _   _   _ ____      _    _   _ _____ ____  
  |  _ \| ____/ ___|_   _|/ \ | | | |  _ \    / \  | \ | |_   _/ ___| 
  | |_) |  _| \___ \ | | / _ \| | | | |_) |  / _ \ |  \| | | | \___ \ 
  |  _ <| |___ ___) || |/ ___ \ |_| |  _ <  / ___ \| |\  | | |  ___) |
  |_| \_\_____|____/ |_/_/   \_\___/|_| \_\/_/   \_\_| \_| |_| |____/ 
*/

.restaurants {
  display: grid;
  grid-template-rows: auto 1fr;
  padding-left: 1.5rem;
  background-color: $colour-background;
  padding: 0 1.5rem;
}

.cards {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 2rem;
  margin-top: 2rem;
  
  @media (min-width: 48rem){
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 2rem;
  }
}


.card {  
  background-color: #fff;
  border-radius: 1rem;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: block;
    
  img {
    height: 12rem;
    width: 100%;
    border: 0 solid transparent;
    border-radius: 1rem 1rem 0 0;
    box-shadow: none;
    object-fit: cover;
  }

  &__badge {
    background-color: #99e2d0;
    color: #1b6150;
    padding: .5rem;
    border-radius: .125rem;
    position: absolute;
    top: 1rem;
    right: .75rem;
  }

  &__footer{
    padding: 1rem;
    position: relative;
    display: flex;
    align-items: center;
  }

  &__content {
    flex: 1;
  }
}

/* _____ _   _ _____ ___  
  |_   _| | | |_   _/ _ \ 
    | | | | | | | || | | |
    | | | |_| | | || |_| |
    |_|  \___/  |_| \___/ 
*/

.tuto {
  display: grid;
  grid-template-rows: repeat(2, auto);
  align-self: center;
  margin: 3rem auto;
  row-gap: 1.5rem;
  padding: 0 1.5rem;


  &__title {
    grid-row: 1;
  }

  &__steps {
    grid-row: 2;
    display: grid;
    list-style: none;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 1.25rem;

    @media (min-width: 48rem){
      grid-row: 2;
      display: grid;
      list-style: none;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows:none;
      column-gap: 2rem;
    }

    li {
      padding: 1.5rem;
      background-color: $colour-background;
      border-radius: 1.25rem;
      box-shadow: 0px 5px 5px darken($colour-background,10);

      i {
        color: darken(gray, 20);
        width: 1rem;
        margin-left: 1rem;
      }
    }
  }

  &__text {
    margin-left: 1rem;
    font-weight: 600;
  }

  &__number {
    margin-left: -2.15rem;
    padding: 0.5rem;
    background-color: $colour-primary;
    border-radius: 100%;
    color: white;
  }
}