.introImg {
    max-height: 32rem;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
}

.menu {
    border-radius: 2rem 2rem 0 0;
    background-color: #f6f6f6;
    z-index: 1;
    position: relative;
    max-width: 1280px;
    margin: -4rem auto 0 auto;
    padding: 2rem;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        font-family: shrikhand, cursive;
    }
}

.steps-wrapper {
  display: grid;
  row-gap: 2rem;
  margin-top: 2rem;

  @media (min-width: 60rem) {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
  }
}

.step h3 {
  text-transform: uppercase;
  position: relative;
  padding-bottom: .5rem;
  font-weight: 400;
}

.step h3::after {
  content: "";
  width: 3rem;
  height: .25rem;
  background-color: #99e2d0;
  position: absolute;
  left: 0;
  bottom: 0;

}

.item {
  background-color: #fff;
  padding: 1rem;
  display: flex;
  border-radius: 0.75rem;
  margin: 1rem 0;
  box-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 10%);
  overflow: hidden;
  cursor: pointer;
  animation: itemAppear .6s;
  animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
  animation-fill-mode: both;
  transform: scale(0);
  max-width: 100%;

  &__header {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
  }

  &__title {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__description {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }


  &__price {
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: .5rem;
    margin-right: 2rem;
  }

  &__confirmation  {
    background-color: $colour-tertiary;
    margin: -1rem -5rem -1rem -1rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .5s;
  }

  &__wrapIcon {
    height: 1.6rem;
    width: 1.6rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transform: rotate(180deg);
    transition-duration: .5s;
  }

  &__icon {
    color: $colour-tertiary;
  }

  &:hover {
    .item__confirmation {
      margin-right: -1rem;
    }
    .item__wrapIcon{
      transform: rotate(0);
    }
  }
}

.wrapBtn {
  text-align: center;
  padding: 2rem;
}

/* ____  ____   ___   ____ ____  _____ ____ ____ _____     _______ 
  |  _ \|  _ \ / _ \ / ___|  _ \| ____/ ___/ ___|_ _\ \   / / ____|
  | |_) | |_) | | | | |  _| |_) |  _| \___ \___ \| | \ \ / /|  _|  
  |  __/|  _ <| |_| | |_| |  _ <| |___ ___) |__) | |  \ V / | |___ 
  |_|   |_| \_\\___/ \____|_| \_\_____|____/____/___|  \_/  |_____|
*/

@for $i from 0 to 9 {
  .delay--#{$i} {
    animation-delay:  #{$i/10}s;
  }
}

@keyframes itemAppear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}