.introImg {
    max-height: 32rem;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
}

.menu {
    border-radius: 2rem 2rem 0 0;
    background-color: #f6f6f6;
    z-index: 1;
    position: relative;
    max-width: 1280px;
    margin: -4rem auto 0 auto;
    padding: 2rem;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        font-family: shrikhand, cursive;
    }
}

.steps-wrapper {
  display: grid;
  row-gap: 2rem;
  margin-top: 2rem;
}

.step h3 {
  text-transform: uppercase;
  position: relative;
  padding-bottom: .5rem;
  font-weight: 400;
}

.step h3::after {
  content: "";
  width: 3rem;
  height: .25rem;
  background-color: #99e2d0;
  position: absolute;
  left: 0;
  bottom: 0;

}

.item {
    background-color: white;
    border-radius: 1.25rem;
    padding: 1rem;
    margin: 1rem 0;
    display: flex;
    animation: itemAppear .6s;
    animation-timing-function: cubic-bezier(0.5,1.58,.34,.82);
    animation-fill-mode: both;
    cursor: pointer;

  header {
    flex: 1;
  }

  i {
    display: none;
  }

  &__price {
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: .5rem;
  }
}

.wrapBtn {
  text-align: center;
  padding: 2rem;
}

.delay--0 {
  animation-delay: 0s;
}

.delay--1 {
  animation-delay: .1s;
}

.delay--2 {
  animation-delay: .2s;
}

.delay--3 {
  animation-delay: .3s;
}

.delay--4 {
  animation-delay: .4s;
}

.delay--5 {
  animation-delay: .5s;
}

.delay--6 {
  animation-delay: .6s;
}

.delay--7 {
  animation-delay: .7s;
}

.delay--8 {
  animation-delay: .8s;
}

@keyframes itemAppear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}